* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: aliceblue;
}

body{
  padding: 1rem;
}

input {
  font-family: 'Quicksand', sans-serif;;
  font-weight: bold;
  font-size:large;
  text-indent: 10px;
  width: 100%;
  background-color: rgb(218, 249, 253);
  color: rgb(18, 14, 68);
  border-radius: 15px;
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.card{
  align-content:stretch;
  border-radius: 40px;
  margin:5px;
  overflow: hidden;
  border: 10px;
}

.card p{
  padding: 5px;
  text-align: center;
  margin: auto;
}

.card img{
  image-rendering: optimizeSpeed;
  max-height:150px;
}